__pycache__/
checkpoints/
archive*/
result*/
EasyEdit/
outputs/
swanlog/
CONTEXT-INJECTION/
test/
natural-questions*/
base/
inconsis_attack*/
system_prompt_results/
base_model_eval_results/
hotpot_qa/
simpleqa/
SimpleQA/
data/
data_*/
original_dataset/
system_prompt_results/
plot*/
data12*/
data2025*/
data2026*/
test*/
qwen*/
gpt*/
olmo*/
4exps*/
asch_pos*/
naive*/
code_plot*/
training_results*/